@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


.container{
  border-top: 1px solid hsl(220, 14%, 75%);

  margin: 30px 200px 0 200px;
  padding-top: 50px;

  display: flex;
  justify-content: center;

  font-family: 'Kumbh Sans', sans-serif;
}

.left-content{
  max-width: 450px;
}

.left-content{
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-content img{
  width: 90%;

  border-radius: 10px;
}

.left-content ul{
  display: flex;
  justify-content: space-between;

  width: 80%;
  list-style: none;

  margin-top: 30px;
}

.right-content{
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content li{
  cursor: pointer;
}

.right-container{
  padding-left: 50px;
}

p{
  color: rgba(0, 0, 0, 0.336);
}

h1{
  margin: 15px 0;
}

h3{
  color: hsl(25, 100%, 66%);
}

.price{
  margin: 10px 0;
}

.promotion{
  display: flex;
  align-items: center;
}

.based-price{
  text-decoration: line-through;
}

.reduction{
  margin-left: 10px;
}

.buttons{
  display: flex;
  align-items: center;
}

.quantities{
  display: flex;
  margin-right: 15px;
  margin-top: 15px;
}

.quantities p{
  width: 40px;
  height: 40px;

  background-color: hsla(0, 0%, 0%, 0.082);

  display: flex;
  align-items: center;
  justify-content: center;
}

.quantities p:nth-child(1), .quantities p:nth-child(3){
  cursor: pointer;
  color: hsl(26, 100%, 55%);

  font-weight: bolder;
  font-size: 1.5rem;

  padding-bottom: 5px;
}

.quantities p:nth-child(1):hover, .quantities p:nth-child(3):hover{
  background-color: hsla(0, 0%, 0%, 0.103);
}

.btn{
  height: 40px;
  width: 200px;

  cursor: pointer;

  border: none;
  border-radius: 5px;
  margin-top: 13px;

  background-color: hsl(26, 100%, 55%);

  color: white;

  box-shadow: 0 4px 10px 2px hsl(25, 100%, 76%);

  font-weight: bolder;

  transition: all .4s ease-out;
}

.btn:hover{
  background-color: hsl(26, 100%, 52%); 
  box-shadow: none;

  transition: all .4s ease-out;
}

.active{
  border: 3px solid hsl(26, 100%, 52%);
  position: relative;
}
.active::after{
  position: absolute;
  content: '';

  width: 100%;
  height: 100%;

  top: 100%;
  left: 0;

  background-color: rgb(87, 87, 87);

  z-index: 1;
}